# Python
/__pycache__


# Results folder
/logging
/data

.pytest_cache

.vscode
.vscode/launch.json
.vscode/settings.json
*.pyc
*.npy
*.pdf
venv
thesis
*.png
.cache/v/cache/lastfailed
/.ipynb_checkpoints
